@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&family=Oswald:wght@400;700&display=swap');

:root {

    /*---------------FONTS------------------*/

    --default-font: 'Open Sans', sans-serif;
    --title-font: 'Oswald', sans-serif;

    /*--------------------------------------*/

    /*---------------COLORS-----------------*/

    --border-color1: #117050;
    --border-color2: #999999;
    --border-color3: black;

    /*--------------------------------------*/
}

/*------------DEFAULT-CONFIGS-----------*/

* {
    font-family: var(--default-font);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1140px;
    margin: auto;
}

.bar {
    background-color: var(--border-color1);
    width: 170px;
    height: 22px;
}

h1, h2 {
    font-family: var(--title-font);
    line-height: 1.1;
}


h1 {
    font-size: 6em;
    margin-bottom: 50px;
}


h2 {
    font-size: 4em;
    margin: 30px 0px;
}

.button {
    color: var(--border-color2);
    border: 2px solid var(--border-color2);
    padding: 10px 30px;
    border-radius: 3px;
    text-decoration: none;
    display: inline-block;
}

.button:hover {
    color: white;
    background-color: var(--border-color2);
    transition-duration: .5s;
}

/*--------------------------------------*/

/*----------------HEADER---------------*/

header .line {
    background-color: var(--border-color1);
    height: 10px;
}

.header-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.header-left img {
    width: 64px;
    height: 64px;
}

.header-right {
    display: flex;
    align-items: center;
}

.header-search form {
    display: flex;
}

.header-search input {
    border: 1px solid var(--border-color2);
    font-size: 1rem;
    
    outline: 0;
    width: 100%;
    max-width: 300px;
    padding: 10px 10px;
}

.header-search button {
    border: 0;
    margin-left: -40px;
    padding: 10px 10px 5px 10px;

    cursor: pointer;
    background-color: transparent;
    border: 2px solid transparent;
}

.header-search button:hover {
    border: 2px solid var(--border-color3);
}

.header-search button img {
    width: 16px;
    height: 16px;
}

.header-menu {
    margin-left: 70px;
}

.header-menu img {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

/*--------------------------------------*/

/*-----------SECTION-BANNER-------------*/

.banner {
    background-image: url(/assets/img/bg.jpg);
    background-size: cover;
    padding-top: 90px;
    padding-bottom: 90px;
}

.banner-images {
    margin-top: 60px;
}

.banner-images img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 7px solid var(--border-color1);
    margin-right: 40px;
}

/*--------------------------------------*/

/*-----------SECTION-AREA1--------------*/

.area1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.area1-content {
    padding: 80px;
}

.area1-quote {
    margin-bottom: 30px;
}

.area1-text {
    margin-bottom: 60px;
    line-height: 25px;
}

.area1-img1 {
    background-image: url(/assets/img/f2.jpg);
    background-size: cover;
    background-position: center;
    height: 350px;

}

.area1-img2 {
    background-image: url(/assets/img/f1.jpg);
    background-size: cover;
    background-position: center;
    grid-column: 2 / 3;
    grid-row: 1 / 3;
}

/*--------------------------------------*/

/*-----------SECTION-AREA2--------------*/

.area2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.area2-content {
    padding: 80px;
}

.area2-content h2 {
    font-size: 3em;
}

.area2-text {
    margin-bottom: 60px;
    line-height: 25px;
}

.area2-img1 {
    background-image: url(/assets/img/f4.jpg);
    background-size: cover;
    background-position: center;
    height: 450px;

}

.area2-img2 {
    background-image: url(/assets/img/f3.jpg);
    background-size: cover;
    background-position: center;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

/*--------------------------------------*/

/*-----------SECTION-AREA3--------------*/

.area3 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.area3-content {
    padding: 200px 80px;
    background-image: url(/assets/img/bg2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom left;
}

.area3-content h2 {
    font-size: 3em;
}

.area3-text {
    margin-bottom: 60px;
    line-height: 25px;
}

.area3-img {
    background-image: url(/assets/img/f5.jpg);
    background-size: cover;
    background-position: center;
}